Source: anxt
Section: science
Priority: optional
Maintainer: J. "MUFTI" Scheurich <mufti@csv.ica.uni-stuttgart.de>
Build-Depends: gcc, libusb-dev, libbluetooth2-dev, libgd2-xpm-dev, libsndfile1-dev, libsdl-image1.2-dev, libsdl1.2-dev, libfuse-dev, gawk
Standards-Version: 3.5.6.1

Package: anxt
Architecture: any
Depends: ${shlibs:Depends}
Description: aNXT - a NXt Toolkit
 Libraries and tools for LEGO Mindstorms NXT robots
 aNXT implement most of the LEGO(R) Mindstorms(R) NXT direct commands 
 and commands for the LEGO(R) Mindstorms(R) NXT communication protocol
 in C as a library. This commands allow to steer a NXT brick or transfer 
 data to a NXT brick via USB or bluetooth.
 Additionally, there are commandline tools for up/downloading files, 
 starting/stopping .rxe programs, get values from sensors and steer motors.
 
